
.customer-portal-panel{
    padding: 32px 0;
    max-width: 311px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid #EAECF0;
    width: 100%;
}

.customer-panel-top, .customer-panel-bottom, .customer-account-panel{
    display: flex;
    flex-direction: column;
    margin: 0 16px;
}

.customer-panel-bottom button, .customer-panel-top button{
    background: none;
    outline:none;
    border:none;
    padding: 8px 12px;
    transition: all 0.3s ease-in-out;
    border-radius: 6px;
    cursor: pointer;
    text-align: left ;
    display: flex;
    align-items: center;
}

.customer-panel-bottom button span, .customer-panel-top button span{
    color: #344054;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    margin-left: 12px;
}

.customer-panel-top button:hover, .customer-panel-bottom button:hover{
    background: #f9fafb;
    border-radius: 4px;
}

.customer-account-panel img{
    object-fit: cover;
    border-radius: 50%;
}

.customer-account-panel{
    padding: 0;
    padding-top: 24px;
    border-top: 1px solid #EAECF0;
}

.customer-panel-bottom button{
    /* margin: 0 12px; */
    margin-bottom: 24px;
}

.panel-details{
    display: flex;
    flex-direction: row;
    margin-top: 16px;
}

.panel-details p{
    margin: 0;
    padding: 0;
    margin-left: 12px;
}

.customer-account-details div p:first-child{
    color: var(--gray-900, #101828);
    /* Text sm/Semibold */
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 142.857% */
}

.customer-account-details div p:last-child{
    color: var(--gray-500, #667085);
    /* Text sm/Regular */
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}

.customer-account-details {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.customer-portal-container{
    display: flex;
}

.customer-portal-body{
    padding: 32px;
    width: 100%;
}

.customer-portal-breadcrumb{
    display: flex;
    align-items: center;
}

.arrow-right{
    margin: 0 20px;
}

.customer-portal-breadcrumb span{
    color: var(--text-light-grey, #667085);
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */

    border-radius: 6px;
    background: #F9FAFB;
    padding: 4px 8px;
}

.customer-portal-body h1{
    color: var(--gray-900, #101828);
    /* Display sm/Medium */
    font-family: "Inter", sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 38px; /* 126.667% */
}

.customer-portal-search-container h6{
    color: var(--gray-700, #344054);
    /* Text sm/Medium */
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 142.857% */

    margin: 0;
    padding: 0;
}

.customer-portal-search-container{
    padding: 12px 16px;
    background: var(--gray-50, #F9FAFB);
    border-radius: 12px;
}

.customer-portal-search-container input{
    padding: 14px 14px;
    border-radius: 8px;
    margin-top: 6px;
    text-indent: 28px;
    max-width: 400px;
    width: 100%;

    border-radius: 8px;
    border: 1px solid var(--gray-300, #D0D5DD) !important;
    background: var(--white, #FFF);
    /* Shadow/xs */
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.search-container{
    max-width: 400px;
    width: 100%;
}

.customer-portal-search-container input, .customer-portal-search-container input::placeholder{
    font-family: "Inter", sans-serif;
    color: var(--gray-500, #667085);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    max-height: 42px;
}

.customer-portal-search-container input,.customer-portal-search-container input:focus, .customer-portal-search-container input:active{
    border: none;
    outline:none;
    box-shadow: none;
}

.search-container{
    position: relative;
}

.filter-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.sort-button{
    border-radius: 8px;
    border: 1px solid var(--gray-300, #D0D5DD);
    background: var(--white, #FFF);
    /* Shadow/xs */
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    outline:none;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 10px 16px;
    max-width: max-content;
    width: 100%;
}

.sort-button span{
    color: var(--gray-700, #344054);
    /* Text sm/Semibold */
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    margin-left: 8px;
}

.search-container svg{
    position: absolute;
    left: 0;
    top: 4px;
    margin: 12px;
    cursor: pointer;
}

.customer-portal-search-container{
    margin-bottom: 36px;
}

/* General table styling */
table {
    width: 100%;
    border-collapse: collapse;
}

table{
    border-radius: 8px;
    border : 1px solid var(--gray-200, #EAECF0);
    background: var(--white, #FFF);
}

th, td {
    padding: 8px 15px !important;
    text-align: center;
    border-right: 1px solid white !important;
    border-left: 1px solid white !important;
    color: var(--gray-500, #667085);
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    white-space: normal;
    word-wrap: break-word;
}

td{
    border-top: 1px solid white !important;
    border-bottom: 1px solid white !important;
}

.img-icons{
    display: flex;
}

.img-icons{
    border-right: 1px solid white !important;
}

.img-icons img:nth-child(1){
    margin-right: 5px;
}

.status-text--Eligible > span{
    background-color: #ECFDF3;
    padding: 4px 20px;

    color: #027A48;
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 150% */
    border-radius: 16px;
    position: relative;
    padding-right: 10px;
}

.status-text--Eligible > span::after{
    content:'';
    width: 8px;
    height: 8px;
    background-color: #027A48;
    border-radius: 50%;
    position: absolute;
    left: 6px;
    top: 50%;
    transform: translateY(-50%);
}

.view-order{
    background-color: black;
    border-radius: 16px;
    background: var(--black, #000);
    color:white;
    padding: 4px 8px;
    outline: none;
    border:none;
    font-family: "Inter", sans-serif;
    cursor: pointer;
}

/* No borders for individual cells */
th, td {
    border: none;
}

/* Add bottom border to each row */
tr:not(:last-child) {
    border-bottom: 1px solid #ccc;
}


.img-icons span{
    display: none;
}

th:nth-child(4){
    position: relative;

}

th:nth-child(4) svg{
    margin-left: 8px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.customer-order-mobile{
    display: none;
    margin-top: 50px;
    flex-direction: column;
}

.customer-order-mobile p{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Inter", sans-serif;

    color: var(--gray-500, #667085);
    /* Body copy/Breadcrumb - Bold */
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 28px;
}

.mobile-bold{
    font-weight: bold;
}

.customer-order-mobile .view-order{
    color: var(--white, #FFF);
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 112.5% */
    padding: 6px 12px;
    cursor: pointer;
}

.customer-order-mobile h1{
    margin: 0;
    padding: 0;

    color: var(--text-light-grey, #667085);
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.24px;
    padding-bottom: 20px;
    border-bottom: 1.4px solid #D8D8DC99;
    width: 100%;
}

.mobile-menu-button{
    /* border-radius: 5px; */
    border: 1px solid var(--dark-grey, #101820);
    background: var(--white, #FFF);
    outline: none;

    display: flex;
    align-items: center;
    padding: 11px 66px;

    justify-content: space-evenly;

    color: var(--text-light-grey, #667085);
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px; /* 144.444% */
    letter-spacing: 0.18px;

    width: max-content;
    margin:0 auto;
    cursor: pointer;
}

.mobile-panel-top {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    max-width: 262px;
    background: white;
    justify-content: space-between;
}

.mobile-panel-top > div{
    display: flex;
    flex-direction: column;

}

.mobile-menu-button{
    margin-bottom: 30px;
    border-radius: 5px;
}

.mobile-menu-button span{
    line-height: 100%;
    display: block;
}
.mobile-menu-button span:first-child{
    margin-right: 15px;
}

.mobile-menu-button span:last-child{
    margin-left: 8px;
}

.mobile-menu-button, .mobile-panel-top{
    display: none;
}

/* .mobile-menu-button:hover + .mobile-panel-top{
    display: flex !important;
}

.mobile-panel-top:hover{
    display: flex !important;
} */

.chevron{
    transition: all 0.3s ease-in-out;
}
.mobile-menu .chevron{
    transform: rotate(180deg); 
}

.mobile-panel-top button:first-child{
    margin-top: 40px;
}

.mobile-panel-top{
    padding: 0 30px;
    border: 1px solid #101820;
    border-top: none;
    min-height: 392px;
    
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 50;
}

.mobile-menu{
    position: relative;
    max-width: max-content;
    margin: 0 auto;
}

.mobile-panel-top button{
    background: none;
    outline:none;
    border:none;

    color: var(--Dark-grey, #101820);
    /* Body copy/Body-copy-regular */
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    letter-spacing: 0.32px;
    text-align: left;
    margin-bottom: 14px;
    cursor: pointer;
}

.mobile-panel-top button:hover{
    color: var(--Birl-Green---Dark, #2EA141);
    /* Text Link */
    font-family: "Inter", sans-serif;
    text-underline-offset: 4px;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px; /* 162.5% */
    letter-spacing: 0.32px;
    text-decoration-line: underline;
}

.mobile-panel-top .customer-account-panel{
    padding: 0;
    border-top: none;
    margin: 0;
    margin-bottom: 30px;
}

.birl-product-cta-container{
    padding: 8px 19px;
    background-color: #2EA141;
    color:white;
    font-family: "Inter", sans-serif;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 40px;
    width: max-content;
    max-width: 100%;
    margin-top: 40px;
}

[alt="Arrow"]{
    width: 16px !important;
    height: 16px !important;
    margin-left: 8px;
}

@media screen and (max-width: 768px) {
    .birl-product-cta-container p{
        max-width: 330px;
    }
    .birl-product-cta-container{
        width: unset;
    }
}

.product-cta-links{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
}

.product-cta-links button{
   outline: none;
   background: none;
    border: none;
    cursor: pointer;

}

.birl-product-cta-container img{
    width: 50px;
    height: 17px;
    margin-right: 16px;
}

.birl-product-cta-text p{
    margin: 0;
}

.birl-product-cta-text button{
    color: white;
    text-decoration: underline;
    font-weight: 600;
    text-underline-offset: 2px;
    font-family: "Inter", sans-serif;
    margin-left: 0;
    font-size: 12px;
    padding: 0;
}

@media screen and (max-width:1280px) {
    .customer-portal-panel{
        display: none;
    }

    .mobile-menu-button{
        display: flex;
    }

    .img-icons img:not(:first-child){
        display: none;
    }

    .img-icons img:first-child{
        position: relative;
    }

    .img-icons span{
        display: block;
        color: var(--gray-500, #667085);
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 142.857% */
        margin-left: 11px;
    }

    .img-icons{
        align-items: center;
        border-radius: 8px;
    }

    th:nth-child(3), td:nth-child(3) {
        display: none;
    }
    
    td, th{
        text-align: left;
    }

    .search-container{
        max-width: 372px;
    }
}

@media screen and (max-width:756px) {
    .filter-container{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .sort-button{
        margin-top: 30px;
    }
    
    table{
        display: none;
    }

    .customer-order-mobile{
        display:flex; 
    }

    .sort-button{
        max-width: 241px;
    }

    .customer-portal-body h1{
        display: none;
    }

    .customer-portal-breadcrumb{
        display: none;
    }
}